body{
    font-family: 'Readex Pro', sans-serif;
    flex-direction: column;
    width: 100%;
}
.cabecalho{
    display: flex;
    justify-content: center;
    background-color: #036666;
    color: white;
    height: 140px;
    max-width: 100%;
}
.custom-shape-divider-top-1639687557 {/*Onda do cabeçalho*/
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1639687557 svg {
    position: relative;
    display: block;
    width: calc(125% + 1.3px);
    height: 103px;
}

.custom-shape-divider-top-1639687557 .shape-fill {
    fill: #036666;
}
.cabecalho__box{
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
.logo-texto{
    font-family: 'Rock Salt', cursive;
    font-weight: 600;
    font-size: 1.9em;
}
.lista{
    display: flex;
}

.lista__itens{
    margin-left: 20px;
    padding: 10px;
}
.lista__itens:first-child{
    margin-left: 0px;
}
.lista__links{
    text-decoration: none;
    margin-left: 20px;
    color: white; 
    font-weight: 600;
    font-size: 1.3em;
}
.lista:first-child{
    margin-left: 0px;
}
.lista__links:hover{
    border-bottom: 3px solid #88d4ab;
}
.botao{
    background-color: white;
    color:#036666;
    border-radius: 12px;
    padding: 10px;
    transition: all 0.8s;
}
.botao:hover{
    border: none;
    background-color: #EDEEE9;
}
#apresentacao{
    height: 100vh;
    max-width: 100%;
    background: url('Mídias/textura\ de\ fundo.jpg') center /cover no-repeat;
}
.apresentacao__descricao{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.apresentacao__descricao___texto{
    display: flex;
    flex-direction: column;
}
.apresentacao__titulo{
    font-size: 3em;
    border-bottom: 5px solid #358F80;
    text-align: center;
    padding-bottom: 5px;
}
.apresentacao__indroducao{
    font-size: 1.3em;
    margin-top: 15px;
    line-height: 25px;
}
.apresentacao__descricao___foto{
    width: 25%;
    border-radius: 200px;
    box-shadow: 5px 7px 10px #358F80;
}
#interesses{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 4px dashed #358F80;
}
.interesses__box{
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.local-da-img{
    width: 47%;
    height: 95%;
    display: flex;
    align-items: center;
}
.local-enunciado-e-interesses{
    width: 47%;
    height: 95%;
}
.interesses__enunciado{
    height: 30%;
    width: 100%;
    background-color: #358F80;
    border-radius: 300px;
    border: 4px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interesses__enunciado___titulo{
    font-size: 2.7em;
    color: white;
    font-weight: 600;
}
.interesses__interesses{
    /* preto */
    height: 70%;
    width: 100%;
    background-color: white;
    border-left: 4px solid #358F80;
    border-right: 4px solid #358F80;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-limitadora{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    background-color: #99e2b4;
    border-radius: 10px;
}
.interesses__interesses___descricao{
    font-size: 1.4em;
    text-align: justify;
    padding: 0px 15px;
    line-height: 30px;
}
.interesses__interesses___descricao span{
    border-bottom: 3px solid white;
}
.interesses__imagem{
    width: 100%;
}
.custom-shape-divider-bottom-1639945991 {/*rampa de interesses pra skills*/
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1639945991 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 97px;
}

.custom-shape-divider-bottom-1639945991 .shape-fill {
    fill: #56AB91;
}
#skills{
    height: 150vh;
    width: 100%;
    background-color: #56AB91;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
}
.skills__enunciado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 2.7em;
    color: #56AB91;
    background-color: white;
    width: 60%;
    height: 90px;
    border-radius: 50px;
    border: 5px dashed #036666;
    box-shadow: 0px 0px 10px black;
}
.skills-box{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.linguagens-box:hover{
    box-shadow: 0px 0px 15px black;
}
.linguagens-box{
    align-self: center;
    display: flex;
    align-items: center;
    background: #fffafa;
    border-radius: 20px;
    height: 200px;
    width: 48%;
    justify-content: space-around;
    box-shadow: 0px 0px 5px black;
    transition: all 0.8s;
}
.skills-titulos{
    position: relative;
    display: flex;
    justify-content: center;
}
.icons{
    width: 20%;
    padding-left: 25px;
}
.barra-progresso{
    width: 70%;
}
.skills__titulos{
    align-self: flex-start;
}
#projetos{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*entrada entre PORJETOS e SKILLS*/
.custom-shape-divider-top-1640293990 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640293990 svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 114px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1640293990 .shape-fill {
    fill: #56AB91;
}
.projetos__box{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.projetos__enunciado{
    width: 40%;
    height: 100%;
    font-size: 4em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.projetos__enunciado span{
    color: #036666;
    border-bottom: 5px solid #036666;
}
.projetos__imagem{
    width: 60%;
}
.projetos__cards{
    width: 100%;
    height: 50%;
}

.projetos__cards-grid{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 25%;
    height: 350px;
    display: grid;
    grid-template-rows: 0.5fr 0.8fr 0.9fr 0.4fr;
    border: 5px solid #036666;
    border-radius: 15px;
    margin-top: 10px;
}
.card:hover{
    box-shadow: 0px 0px 5px 3px#88d4ab;
}
.card__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    border-bottom: 3px solid #036666;
    font-weight: bold;
}
.sebao-clinica{
    background: url('Mídias/Sebao\'s-clinica.png') center / cover no-repeat;
}
.crud{
    background: url('Mídias/crud.png') center / cover no-repeat;
}
.CRUD2{
    background: url('Mídias/CRUD2.png') center / cover no-repeat;
}
.sabismix{
    background: url('Mídias/sabismix.png') center / cover no-repeat;
}
.form{
    background: url('Mídias/form.png') center / cover no-repeat;
}
.dashboard{
    background: url('Mídias/dashboard.png') center / cover no-repeat;
}
.calculadora{
    background: url('Mídias/calculadora.png') center / cover no-repeat;
}
.card__descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    padding: 15px;
    text-align: justify;
}
.dashboard-descricao{
    font-size: 1rem;
}
.card__botao{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}
.card__botao a {
    font-size: 1em;
    background-color: #0F4C5C;
    border-radius: 15px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 1.2s;
}
.card__botao a:hover{
    background-color: #14213D;
}
#me-contate{
    background: url('Mídias/footer.jpg') center / cover no-repeat;
    height: auto;
    max-width: 100%;
}
.custom-shape-divider-top-1639735131 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1639735131 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 144px;
}

.custom-shape-divider-top-1639735131 .shape-fill {
    fill: white;
}
.contatos{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
}
.enunciado-contatos{
    display: flex;
    flex-direction: column;
    font-size: 2.2em;
    font-weight: 500;
    align-items: flex-start;
    color: white;
}
.titulo-contatos{
    border-bottom:  5px solid white;
    padding: 10px;
}
.formas-de-contato{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.paragrafos-contatos{
    font-size: 1.5em;
    padding: 10px;
    padding-left: 0px;
    color: white;
}
.paragrafos-contatos img{
    width: 4.5%;
    margin-right: 8px;
}
.redes-sociais{
    display: flex;
    width: 30%; 
}
.rede-icons{
    padding: 15px 50px 15px 15px;
    width: 70%;
}
.icon-instagram{
    padding-left: 0px;
    padding-top: 18px;
    width: 73%;
}
@media only screen and (min-width: 0px) and (max-width: 480px){
    .cabecalho__box{
        flex-direction: column;
        justify-content: center;
    }
    .lista{
        display: none;
    }
    .logo-texto{
        font-size: 2.2em;
    }
    .logo-box{
        align-items: center;
    }
    #apresentacao{
        height: 120vh;
    }
    .apresentacao__titulo{
        font-size: 2em;
        text-align: center;
    }
    .apresentacao__descricao{
        margin-top: 14px;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 15px;
        margin-right: 15px;
        height: 80%;
    }
    .apresentacao__indroducao{
        text-align: center;
    }
    .apresentacao__descricao___foto{
        width: 55%;
        margin-top: 0px;
    }
    #interesses{
        height: auto;
    }
    .interesses__box{
        flex-direction: column-reverse;
        width: 95%;
    }
    .local-enunciado-e-interesses{
        height: 70%;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .interesses__enunciado{
        margin-bottom: 20px;
    }
    .interesses__enunciado___titulo{
        font-size: 2.2em;
        text-align: center;
        padding: 15px;
    }
    .interesses__interesses___descricao{
        font-size: 1.3em;
    }
    .local-da-img{
        display: none;
    }
    .skills__enunciado{
        width: 70%;
    }
    #skills{
        height: auto;
    }
    .linguagens-box{
        width:auto;
        margin-bottom: 35px;
    }
    #projetos{
        height: auto;
    }
    .projetos__box{
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .projetos__cards-grid{
        width: 100%;
    }
    .card{
        margin-bottom: 25px;
        width: 75%;
    }
    .projetos__enunciado{
        font-size: 3em;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-bottom: 30px;
    }
    .projetos__enunciado img{
        display: none;
    }
    .formas-de-contato{
        width: 100%;
    }
    .paragrafos-contatos{
        font-size: 1.2em;
    }
    .redes-sociais{
        width: 100%;
    }
    .rede-icons{
        width: 35%;
    }
    .icon-instagram{
        width: 37%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .cabecalho__box{
        flex-direction: column;
        justify-content: center;
    }
    .lista{
        display: none;
    }
    .logo-texto{
        font-size: 2.2em;
    }
    .logo-box{
        align-items: center;
    }
    #apresentacao{
        height: 120vh;
    }
    .apresentacao__titulo{
        font-size: 2.2em;
        text-align: center;
    }
    .apresentacao__descricao{
        flex-direction: column;
        justify-content: space-around;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 50px;
        height: 70%;
    }
    .apresentacao__indroducao{
        text-align: center;
    }
    .apresentacao__descricao___foto{
        width: 30%;
        margin-top: 35px;
    }
    #interesses{
        height: auto;
    }
    .interesses__box{
        flex-direction: column-reverse;
        width: 95%;
    }
    .local-enunciado-e-interesses{
        height: 70%;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .interesses__enunciado{
        margin-bottom: 20px;
    }
    .interesses__enunciado___titulo{
        font-size: 2.2em;
        text-align: center;
        padding: 15px;
    }
    .interesses__interesses___descricao{
        font-size: 1.3em;
    }
    .local-da-img{
        display: none;
    }
    .skills__enunciado{
        width: 70%;
    }
    #skills{
        height: auto;
    }
    .linguagens-box{
        width:auto;
        margin-bottom: 35px;
    }
    #projetos{
        height: auto;
    }
    .projetos__box{
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 30px;
    }
    .projetos__cards-grid{
        width: 100%;
    }
    .card{
        margin-bottom: 25px;
        width: 40%;
    }
    .projetos__enunciado{
        font-size: 3.3em;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-bottom: 30px;
    }
    .projetos__enunciado img{
        display: none;
    }
    .formas-de-contato{
        width: 100%;
    }
    .paragrafos-contatos{
        font-size: 1.2em;
    }
    .redes-sociais{
        width: 100%;
    }
    .rede-icons{
        width: 35%;
    }
    .icon-instagram{
        width: 37%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1279px){
    .lista{
        display: none;
    }
    .cabecalho__box{
        justify-content: center;
    }
    .apresentacao__descricao{
        padding: 0px 20px;
    }
    .apresentacao__titulo{
        font-size: 2.5em;
    }
    .box-limitadora{
        height: 90%;
        width: 80%;
    }
    .interesses__interesses___descricao{
        font-size: 1.2em;
    }
    .interesses__enunciado___titulo{
        font-size: 2.2em;
    }
    .interesses__enunciado{
        height: 25%;
    }
    .interesses__interesses{
        height: 75%;
    }
    .interesses__imagem{
        width: 110%;
    }
    #projetos{
        height: auto;
    }
    .projetos__box{
        width: 100%;
    }
    .projetos__enunciado{
        width: 30%;
        height: initial;
        margin-left: 60px;
    }
    .projetos__enunciado img{
        display: none;
    }
    .projetos__cards-grid{
        width: 70%;
    }
    .card{
        margin-bottom: 20px;
    }
    .card:nth-child(odd){
        margin-right: 10px;
    }
}
@media only screen and (min-width: 1900px){
    .logo-texto{
        font-size: 3.5em;
    }
    .frog{
        width: 15%;
    }
    .apresentacao__titulo{
        font-size: 4.5em;
        text-align: center;
    }
    .apresentacao__indroducao{
        font-size: 3em;
        line-height: initial;
    }
    .lista__links{
        font-size: 2.2em;
    }
    .apresentacao__descricao___foto{
        box-shadow: 5px 7px 20px #358f80;
    }
    .linguagens-box{
        height: 15%;
    }
    .skills__enunciado{
        font-size: 3em;
    }
    .paragrafos-contatos{
        font-size: 2.2em;
    }
    .titulo-contatos{
        font-size: 2em;
    }
    .interesses__enunciado___titulo{
        font-size: 5em;
    }
    .interesses__interesses___descricao{
        font-size: 2.5em;
        line-height: initial;
    }
    .box-limitadora{
        width: 90%;
        height: 90%;
    }
    .projetos__enunciado{
        font-size: 7em;
        height: initial;
    }
    .projetos__enunciado img{
        width: 95%;
    }
    #projetos{
        height: auto;
    }
    .card{
        width: 500px;
        height: 550px;
        margin-bottom: 20px;
    }
    .card:nth-child(odd){
        margin-right: 10px;
    }
    .card__titulo{
        font-size: 3em;
    }
    .card__descricao{
        font-size: 2em;
    }
    .card__botao a{
        font-size: 2em;
    }
    
}

